<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446886650399-82ls2qfmrd1vb61fb286vtguhvp9c7ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446886650399-82ls2qfmrd1vb61fb286vtguhvp9c7ju</string>
	<key>API_KEY</key>
	<string>AIzaSyBoxRkxHJj0TqafMHBd5yj_SO2cPhu109U</string>
	<key>GCM_SENDER_ID</key>
	<string>446886650399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voicecall</string>
	<key>PROJECT_ID</key>
	<string>calling-app-30df7</string>
	<key>STORAGE_BUCKET</key>
	<string>calling-app-30df7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446886650399:ios:bc3f7ee566d810df942b2a</string>
</dict>
</plist>